.home{
    align-items:center;
    text-align: left;
    background-color: white;
    flex-grow: 1;
    color:black;
}
.day{
    align-items:center;
    background-color: #e0dedc;
    color:#30302f; 
  background-color: #cccccc;
    
}
.listaObjekata{
  
  border-top: solid #007bff 2px;
  /* border-right: solid #007bff 1px;
  border-left: solid #007bff 1px;
  */
}

.spiner
{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-self: center;
}


.AutoCompleteText{
  width:100%;
  border:1px solid grey;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
}
.AutoCompleteText input{
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.73);
  box-sizing: border-box;
  outline:none;
}
.AutoCompleteText ul{
  list-style-type: none;
  text-align: left;
  margin:0;
  padding: 0;
  border-top:1px solid grey;
}

.AutoCompleteText ul::before{
  content: "";
}

.AutoCompleteText li {
  padding:10px 5px;
  cursor:pointer;
}
.AutoCompleteText li:hover{
  background-color: rgba(128,128,128,0.20);
}